.card {
    width: 100%;
    aspect-ratio: 3/4;
    /* overflow: hidden; */
    border-radius: 8px;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
}